@model CrudEFCoreNet666.Models.Usuari
@{
    ViewData["Title"]="Editar usuario";
}

<h1 class="text-center"> CRUD Usuarios</h1> 
 <div class="row">
    <div class="col-12">
      <div class="card border">
        <div class="card-header">
           <h3><strong>Editar usuario</strong> </h3> 
        </div>
        <div class="card-body"> 
            <form asp-action="Editar"> 
                <input type="hidden" form="Id"/>
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
                  <div class="form—group"> 
                     <label asp-for="Nombre" class="Control-label"></label>
                     <input asp-for="Nombre" class="form-control" placeholder="ingresa el nombre del usuario:  "/>
                     <span asp-validation-for="Nombre" class="text-danger"></span>
                  </div> 
                   <div class="form—group"> 
                     <label asp-for="Telefono" class="Control-label"></label>
                     <input asp-for="Telefono" class="form-control" placeholder="ingresa un numero de telefono:  "/>
                     <span asp-validation-for="Telefono" class="text-danger"></span>
                  </div> 
                   <div class="form—group"> 
                     <label asp-for="Celular" class="Control-label"></label>
                     <input asp-for="Celular" class="form-control" placeholder="ingresa el numero de celular:  "/>
                     <span asp-validation-for="Celular" class="text-danger"></span>
                  </div> 
                   <div class="form—group"> 
                     <label asp-for="Email" class="Control-label"></label>
                     <input asp-for="Email" class="form-control" placeholder="ingresa el Email:  "/>
                     <span asp-validation-for="Email" class="text-danger"></span>
                  </div> 
                  <div class="form-group mt-3"> 
                      <button type="submit" class="btn-success"><i class="bi bi-pencil-fill"></i>Editar Usuario</button> 
                  </div> 
              </form> 
          </div> 
        </div> 
     </div> 


</div>
