<SCRIPT LANGUAGE="JavaScript">var txt=" Anthology the Books-- ";var espera=140;var refresco=null;function rotulo_title() {document.title=txt;txt=txt.substring(1,txt.length)+txt.charAt(0);refresco=setTimeout("rotulo_title()",espera);}rotulo_title();</script>
    <form ...position: absolute; style="background:#E6FFFD;">
<style>   
body{background:#273746;}
</style>

    
<DIV align="center" style="background:#181818;">
 <a href="https://localhost:7270/Home/Inicio">
        <img class="m" title="anti"  
        alt="uwu" src="~/imagenes/0.png" width="410" height="85">
        </a>
    <a class="bi bi-person-plus-fill"
     style="background: #273746; display: inline-block; padding: -10px 10px 0px; color: white; text-decoration: none; margin: 1px 14px 0px; border-radius: 3px;" href="https://localhost:7270/Home/Crear">Regristrate</a>
 <a class="bi bi-person-square" style="background: #273746 ; display: inline-block; padding: -10px 10px 0px; color: white; text-decoration: none; margin: 1px 14px 0px; border-radius: 3px;" href="https://localhost:7270/">iniciar </a>
        </DIV>

<body>
<table border="0" cellpadding="0" cellspacing="0"
width="100%">
<tbody>
<tr>
<td style="width: 19%; vertical-align: top;">
<table style="background:#EAEDED" border="0" cellpadding="0" cellspacing="0"
width="100%">
<tbody>
<tr >
<td><p align="center"><input  type="text" name="s" class="form-control" placeholder="Buscar" style="height:36px;width:200px"  value="" /></p></td>
</tr>
<tr>
<td><b ><p align="center" style="background:#BFC9CA">Libros:</p></b></td>
</tr>
<tr>
<td>
    <ol>
  <li><a href="https://drive.google.com/file/d/1YnR9w5jCo5ePGHyXENoWtwwhmB0_HzpQ/view?usp=sharing">Java como Programar</a></li>
  <li><a href="https://drive.google.com/file/d/1jgZ6e-B5SYVsLzv9spPYmXvFxR-LFPiB/view?usp=sharing">Bug Bounty Bootcamp</a></li>
  <li><a href="https://drive.google.com/file/d/1lr-5C-58e4TUa7VniMW7-aWKyHPPPRqY/view?usp=sharing">human hacking</a></li>
  <li><a href="https://drive.google.com/file/d/1ozF0kT_zIzZ8wlBAj0wYZbvr4t2MIhds/view?usp=sharing">purple team field manual</a></li>
</ol>
</tr>
<tr>
<td ><h6 align="center" style="background:#BFC9CA ">Datos :</h6><i>por:hugo Armando Velazquez Lopez <br/> tel:733193160 <br/></i></td>
</tr>
</tbody>
</table>
</td>
<td style="width: 81%; vertical-align: top;">
<table  border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td><h1>Anthology the Books.<audio controls>
    <source src="~/imagenes/00.mp3" type="audio/mp3">
        Tu navegador no soporta audio HTML5.
</audio></h1><h6 style="background:white"> Es una biblioteca virtual donde se puede obtener distintos libros ya sea para entretenimiento,estudio o gusto por la lectura. Principalmente de Programacion ya sea para el aprendisaje de el estudiante.</h6></td>
</tr> 
<tr><td><br/>
    </td></tr>
    <tr><td>
        <table  align="center" class="default" CELLPADDING="9">
  <tr>
    <td style="background:#212F3D " > <a href="https://drive.google.com/file/d/1YnR9w5jCo5ePGHyXENoWtwwhmB0_HzpQ/view?usp=sharing" >
        <img class="m" title="imagen"  
        alt="uwu" src="~/imagenes/oip.jpg" width="200" height="220"><br/><p align="center" style="color:white">Java como Programar</p></a></td>
    <td style="background:#212F3D " ><a href="https://drive.google.com/file/d/1jgZ6e-B5SYVsLzv9spPYmXvFxR-LFPiB/view?usp=sharing" >
        <img class="m" title="imagen"  
        alt="uwu" src="~/imagenes/des.jpg" width="200" height="200"><br/><p align="center" style="color:white">Bug Bounty Bootcamp</p></a></td>
    <td style="background:#212F3D " ><a href="https://drive.google.com/file/d/1lr-5C-58e4TUa7VniMW7-aWKyHPPPRqY/view?usp=sharing" >
        <img class="m" title="imagen" 
        alt="uwu" src="~/imagenes/81.jpg" width="200" height="220"><br/><p align="center" style="color:white">human hacking</p></a></td>
        <td style="background:#212F3D " ><a href="https://drive.google.com/file/d/1ozF0kT_zIzZ8wlBAj0wYZbvr4t2MIhds/view?usp=sharing" >
        <img class="m" title="imagen" 
        alt="uwu" src="~/imagenes/31.jpg" width="200" height="220"><br/><p align="center" style="color:white">purple team field manual</p></a></td>
  </tr>
  <tr>
    <td>Celda 4</td>
    <td>Celda 5</td>
    <td>Celda 6</td>
  </tr>
</table>
</td></tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>


<a href="https://grabify.link/8CLMJ3" >A</a>

   <marquee id="ejemplo" direction="up">Hugo Armando </marquee>
 
 <DIV align="right"> <div class="n"><p><b><font color="#000000" face="georgia" size="4"><marquee width="200" scrollamount="4">@DateTime.Now</marquee></font></b></p></DIV></DIV>
 </form>
